.cardList {
    padding: 0;
}

.cardList li {
    display: flex;
    height: 50px;
    padding-block: 20px;
    padding-right: 20px;
    margin-block: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 1s, opacity 1s, width 1s, height 1s;
}

.cardListItemLeft {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoCheckBox {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.cardListItemContent {
    width: 380px;
}

.cardListItemContent .todo-span{
    font-weight: bolder;
}

.cardModeDiv {
    flex-direction: column;
    position: relative;
    z-index: 3;
    overflow: visible;
}

/*悬浮到CardModeDiv左边*/
.hoverSidebar {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 300px;
    border-radius: 8px;
    justify-content: center;
    align-items: end;
    left: -350px;
    top: -5px
}

.hoverSidebar label {
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

.hoverSidebar:hover label {
    color: black;
    display: flex;
}

.hoverSidebar button {
    width: 50px;
    height: 50px;
    margin-block: 20px;
    border-radius: 10%;
    margin-left: 5px;
    border: 0;
    background-color: #ECE9E6;
    /*background-image: linear-gradient(135deg,#ECE9E6,#ffffff);*/
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.hoverSidebar button i {
    font-size: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    width: 121px;
    border-bottom: #002FA7 3px solid;
}

.popCard {
    width: 800px;
    height: 250px;
    padding: 30px;
    position: fixed;
    display: flex;
    z-index: 100;
    bottom: -400px;
    transition: bottom 0.5s, top 0.5s;
}

.cardModeDiv {
    display: flex;
    flex-direction: column;
}


.popTitle {
    margin-bottom: 50px;
    width: 180px;
}

.searchTitle {
    margin-bottom: 20px;
}

.searchCard .searchDiv {
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);
}

.closeDiv {
    position: absolute;
    top: 35px;
    right: 32px;
    font-size: 25px;
    cursor: pointer;
}

.todoListDiv {
    position: relative;
    max-height: 100%;
    overflow: visible;
    min-width: 690px;
}

.todoList {
    max-height: 80%;
    overflow-y: scroll;
}

.userCard {
    bottom: -400px;
    width: 300px;
    height: auto;
}

.searchCard{
    bottom: 0;
    height: 100px;
    top: -400px;
}

.todoTime {
    float: right;
}

.cardListItemMore {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardListItemMore button {
    width: 50px;
    height: 50px;
    margin-block: 20px;
    border-radius: 10%;
    margin-left: 5px;
    border: 0;
    /*background-color: #ECE9E6;*/
    background-color: #ECE9E6;
    /*background-image: linear-gradient(135deg,#ECE9E6,#ffffff);*/
    /*box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);*/
    cursor: pointer;
}
