<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cassius0924.hellospringboot.dao.UserDao">
    <insert id="insertUser" parameterType="com.cassius0924.hellospringboot.model.User">
        insert into tb_user(id, username, password)
        values (#{id}, #{username}, #{password});
    </insert>
    <!--    修改-->
    <update id="updateUser" parameterType="com.cassius0924.hellospringboot.model.User">
        update tb_user
        set id       = #{id},
            username = #{username},
            password = #{password},
    </update>
    <!--    删除通过Id-->
    <delete id="deleteUserById" parameterType="int">
        delete
        from tb_user
        where id = #{id};
    </delete>

    <select id="selectPasswordByUsername" resultType="String">
        select password
        from tb_user
        where username = #{username};
    </select>

    <select id="selectIdByUsername" resultType="int">
        select id
        from tb_user
        where username = #{username};
    </select>

    <select id="selectUsernameById" resultType="String">
        select username
        from tb_user
        where id = #{id};
    </select>
    
    <select id="updatePassword" resultType="String">
        update tb_user
        set password = #{password}
        where id = #{id}
    </select>

</mapper>